<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT Tolosa</title>
</head>
<body>
    
    <h2 style="text-align: center;">Datos Familia</h2>

<section style="display: flex; justify-content: center;">
    <ul>

        {% for Nombres in Nombre%}
        <li> {{Nombres}} </li>
        
        {% endfor %}
    </ul>

    <ul>

        {% for Fecha in Fecha_Nacimiento%}
        <li > {{Fecha}} </li>
        
        {% endfor %}
    </ul>

    <ul>
        {% for Edades in Edad%}
        <li> {{Edades}} </li>
        
        {% endfor %}
    </ul>
</section>

    <p style="text-align: center;"> {{Fecha}} </p>
</body>
</html>